body {
    font-family: Arial;
    margin: 0;
    background: #e47916;
}

header {
    background: #e47916;
    color: #1b0d08;
    padding: 15px;
    text-align: center;
}

nav a {
    color: rgb(14, 10, 7);
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(247, 245, 244);
}

section {
    background: rgb(248, 252, 248);
    margin: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(241, 167, 7);
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 5px 0;
    padding: 8px;
}

button {
    background: #03090a;
    color: rgb(87, 36, 36);
    padding: 10px;
    border: none;
}

button:hover {
    background: #f18d0a;
}

footer {
    text-align: center;
    background: #050300;
    color: rgb(214, 96, 18);
    padding: 10px;
}